Sample/XFPINLoginSample.Android/obj
Sample/XFPINLoginSample.iOS/bin
Sample/XFPINLoginSample.Android/bin
Sample/XFPINLoginSample.iOS/obj
Sample/XFPINLoginSample/obj
Sample/XFPINLoginSample/bin
/XFPINView/obj
/.vs
/Sample/XFPINLoginSample.UWP/bin/x86/Debug
/Sample/XFPINLoginSample.UWP/obj
/XFPINView/bin/Debug
